Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.assets.cache
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.csprojAssemblyReference.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.AssemblyInfo.cs
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.AssemblyInfoInputs.cache
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.dgspec.json
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.g.props
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.g.targets
Fundamentals C/Month Printer/obj/project.assets.json
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.AssemblyInfo.cs
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.AssemblyInfoInputs.cache
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.assets.cache
Fundamentals C/.vs/Fundamentals C/v16/.suo
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/db.lock
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide-shm
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide-wal
Fundamentals C/Fundamentals C/obj/Fundamentals C.csproj.nuget.g.targets
Fundamentals C/Fundamentals C/obj/project.assets.json
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.cache
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.dgspec.json
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.g.props
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.g.targets
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.AssemblyInfo.cs
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.AssemblyInfoInputs.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.assets.cache
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.csprojAssemblyReference.cache
