Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.assets.cache
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.csprojAssemblyReference.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.AssemblyInfo.cs
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Student Information.AssemblyInfoInputs.cache
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.dgspec.json
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.g.props
Fundamentals C/Month Printer/obj/Month Printer.csproj.nuget.g.targets
Fundamentals C/Month Printer/obj/project.assets.json
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.AssemblyInfo.cs
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.AssemblyInfoInputs.cache
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.assets.cache
Fundamentals C/.vs/Fundamentals C/v16/.suo
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/db.lock
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide-shm
Fundamentals C/.vs/Fundamentals C/v16/Server/sqlite3/storage.ide-wal
Fundamentals C/Fundamentals C/obj/Fundamentals C.csproj.nuget.g.targets
Fundamentals C/Fundamentals C/obj/project.assets.json
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.cache
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.dgspec.json
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.g.props
Fundamentals C/Fundamentals C/obj/Student Information.csproj.nuget.g.targets
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.AssemblyInfo.cs
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.AssemblyInfoInputs.cache
Fundamentals C/Fundamentals C/obj/Debug/netcoreapp3.1/Fundamentals C.assets.cache
Fundamentals C/Month Printer/obj/Debug/netcoreapp3.1/Month Printer.csprojAssemblyReference.cache
Fundamentals C/Fundamentals C.sln
Fundamentals C/Back in 30 mins/obj/Debug/netcoreapp3.1/Back in 30 mins.csprojAssemblyReference.cache
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.deps.json
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.dll
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.exe
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.pdb
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.runtimeconfig.dev.json
Fundamentals C/Foreign Languages/bin/Debug/netcoreapp3.1/Foreign Languages.runtimeconfig.json
Fundamentals C/Foreign Languages/obj/Debug/netcoreapp3.1/Foreign Languages.csproj.FileListAbsolute.txt
Fundamentals C/Foreign Languages/obj/Debug/netcoreapp3.1/Foreign Languages.dll
Fundamentals C/Foreign Languages/obj/Debug/netcoreapp3.1/Foreign Languages.exe
Fundamentals C/Foreign Languages/obj/Debug/netcoreapp3.1/Foreign Languages.pdb
Fundamentals C/Passed/obj/Debug/netcoreapp3.1/Passed.csprojAssemblyReference.cache
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.deps.json
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.dll
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.exe
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.pdb
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.runtimeconfig.dev.json
Fundamentals C/Theatre Promotion/bin/Debug/netcoreapp3.1/Theatre Promotion.runtimeconfig.json
Fundamentals C/Theatre Promotion/obj/project.assets.json
Fundamentals C/Theatre Promotion/obj/Theatre Promotion.csproj.nuget.cache
Fundamentals C/Theatre Promotion/obj/Theatre Promotion.csproj.nuget.dgspec.json
Fundamentals C/Theatre Promotion/obj/Theatre Promotion.csproj.nuget.g.props
Fundamentals C/Theatre Promotion/obj/Theatre Promotion.csproj.nuget.g.targets
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.AssemblyInfo.cs
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.AssemblyInfoInputs.cache
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.assets.cache
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.csproj.FileListAbsolute.txt
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.csprojAssemblyReference.cache
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.dll
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.exe
Fundamentals C/Theatre Promotion/obj/Debug/netcoreapp3.1/Theatre Promotion.pdb
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.deps.json
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.dll
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.exe
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.pdb
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.runtimeconfig.dev.json
Fundamentals C/Divisible by 3/bin/Debug/netcoreapp3.1/Divisible by 3.runtimeconfig.json
Fundamentals C/Divisible by 3/obj/Divisible by 3.csproj.nuget.cache
Fundamentals C/Divisible by 3/obj/Divisible by 3.csproj.nuget.dgspec.json
Fundamentals C/Divisible by 3/obj/Divisible by 3.csproj.nuget.g.props
Fundamentals C/Divisible by 3/obj/Divisible by 3.csproj.nuget.g.targets
Fundamentals C/Divisible by 3/obj/project.assets.json
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.AssemblyInfo.cs
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.AssemblyInfoInputs.cache
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.assets.cache
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.csproj.FileListAbsolute.txt
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.dll
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.exe
Fundamentals C/Divisible by 3/obj/Debug/netcoreapp3.1/Divisible by 3.pdb
Fundamentals C/Foreign Languages/obj/Debug/netcoreapp3.1/Foreign Languages.csprojAssemblyReference.cache
bin/
obj/
